/*-- scss:defaults --*/

// font

  @import url('https://fonts.googleapis.com/css2?family=Noto+Sans&family=Noto+Sans+JP&family=Open+Sans:wght@400;700&family=Questrial&family=Raleway:wght@600&display=swap');


// colors

$maroon: #791231;
$yellow: #F49800;
$gray: #64605f;
$gunmetal: #1B2F33;
$white: #EFF1ED;
$taupe: #84828F;
$highlight: #d303fc;

// element colors
$navbar-bg: $maroon;
$body-bg: $white;

//GLOBAL STYLES

h1, h2, h3, h4, h5, h6 {
  letter-spacing: 2px;
  font-weight: 700;
  color: $gray;
  font-family: 'Noto Sans', sans-serif;
}

p {
    font-family: 'Noto Sans', sans-serif;
}

a {
  color: $highlight;
}

a, a:link, a:visited {
  color: $maroon;
}

.title {
  color: $gray;
}

.navbar {
  background-color: $maroon;
  display: flex;
  align-items: center;
  padding: 10px 10px;
}

.navbar-logo {
  width: 1500px;
  height: 200px;
  padding: auto;
}
.navbar-brand img { 
  max-height: 60px;
  width: auto;
}

.column-margin {
  width: auto;
}

.columns {
  padding: 20px;
  font-size: 1.2rem;
  font-family: "Noto Sans","Helvetica", Sans-Serif;
}

// PAGE-SPECIFIC STYLES

// HOME/INDEX

.title-banner {
  position: static;
}

.title-text {

  margin: auto;
  position: absolute;
  top: 45%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  left: 10%;


  font-family: "Noto Sans","Helvetica", Sans-Serif;
  color: #FFF;
}

.title-text .lab {
  font-weight: bold;
  margin: auto;
  position: static;
  font-size: min(10vw, 120px);
  font-weight: bold;
  letter-spacing: 0.3rem;
  text-shadow: 0px 0px 6px #305182;
}
.title-text .welcome {
  position: absolute;
  bottom: 80%;
  left: 30%;
  font-size: 2vw;
  letter-spacing: 0.2rem;
  text-shadow: 0px 0px 6px #000;
}

.title-text .uofa {
  position: absolute;
  top: 80%;
  left: 20%;
  font-size: 2vw;
  letter-spacing: 0.2rem;
  text-shadow: 0px 0px 8px #000;
}

.title-banner .img-fluid {
  padding: 0px;
  width: 100%;
}

.quarto-about-jolla.column-page {
  margin: 0px 0px 0px 0px;
}


// ABOUT


// PUBLICATIONS

.yr {
  color: $gunmetal;
}

.pub-list {
  color: $gunmetal;
}

.pub {
  padding: 15px;
}

// PEOPLE

.ppl {
  min-width: 50vw;
  max-width: 100vw;
  display: table;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
  height: auto;
  width: 100%;
}

.person {
  //background-color: #F89;
  display: table-row;
  align-items: center;
  padding: 20px;
  border-bottom: 1px solid #ddd;
}

.headshot {
  //background-color: #009;
  min-width: 5vw;
  max-width: 10vw;
  margin-right: 1vw;
  display: table-cell;
}

.headshot .img-fluid {
  width: 300px; //fix this later
  border-radius: 50%;
  align-content: center;
  
}

.blurb {
  vertical-align: top;
  //background-color: #ffdbfd;
  text-align: left;
  display: table-cell;
  padding: 2rem;
  h3 {
    font-weight: bold;
    //font-size: 1.4rem;
    margin: 0 0 .5rem;
  }
  h5 {
    font-size: 1rem;
    margin: 0.5rem 1rem .5rem;
  }
  p {
    color: $gray;
    margin: 0.5rem 4rem 0;
    font-size: 0.8rem;
  }
}


.contact {
  line-height: 80%;
}


