
// font
  @import url('https://fonts.googleapis.com/css2?family=Raleway:wght@600&display=swap');

// colors

$maroon: #791231;
$yellow: #F49800;
$gray: #64605f;
$gunmetal: #1B2F33;
$white: #EFF1ED;
$taupe: #84828F;
$highlight: #d303fc;

// element colors
$navbar-bg: $maroon;
$body-bg: $white;



/*-- scss:rules --*/
h1, h2, h3, h4, h5, h6 {
  letter-spacing: 2px;
  font-weight: 700;
  color: $gray;
  font-family: "Raleway", "Times", Sans-Serif;

}
 .yr {
    color: $gunmetal;
  }

a {
  color: $gunmetal;
}

.title {
  color: $gray;
}

.navbar {
  background-color: $maroon;
  display: flex;
  align-items: center;
  padding: 10px 10px;
}

.navbar-logo {
  width: 1500px;
  height: 200px;
  padding: auto;
}
.navbar-brand img { 
  max-height: 60px;
  width: auto;
}

.column-margin {
  width: auto;
}


.columns {
  padding: 20px;
  font-size: 1.2rem;
  font-family: "Verdana", "Helvetica", Sans-Serif;
}

//publications

.pub-list {
  color: $gunmetal;
  a {
    color: $gunmetal;
  }
}
.pub {
  padding: 15px;
}


//people


.ppl {
  //background-color: $yellow;
  display: table;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
  height: auto;
  width: 100%;
}

.person {
  //background-color: #F89;
  display: table-row;
  align-items: center;
  padding: 20px;
  border-bottom: 1px solid #ddd;
}


.headshot {
  //background-color: #009;
  max-width: 150px;
  max-height: 150px;
  margin-right: 20px;
  display: table-cell;
}
.headshot .img-fluid {
  width: 300px; //fix this later
  border-radius: 50%;
  align-content: center;

}
.blurb {
  //background-color: #1B2;
  text-align: left;
  display: table-cell;
  padding: 20px;
}


